# OnRamp Global Configuration
# Copy this file to .env and fill in your values

################################################
#
# Please edit this file and enter your info 
# into the <placeholders> below
#
################################################

CF_API_EMAIL=your-email@example.com
CF_DNS_API_TOKEN=your-cloudflare-api-token
HOST_DOMAIN=your-domain.com

# https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#Time_Zone_abbreviations
# choose a value from the TZ database name column on the wikipedia page above
TZ=US/Eastern

################################################
#
# The values below are optional, and are only need
# if you enable the associated services
#
################################################

###############################################
# Traefik settings 
###############################################
DNS_CHALLENGE_API_EMAIL=${CF_API_EMAIL}
TRAEFIK_ACCESSLOG=true
TRAEFIK_LOG_LEVEL=DEBUG

###############################################
# PostgreSQL settings 
###############################################
PG_PASS=postgres_secure_password_change_me
PG_USER=admin
PG_DB=admin

###############################################
# MariaDB settings 
###############################################
MARIADB_PASS=mariadb_secure_password_change_me
MARIADB_USER=admin

###############################################
# Authentik settings 
###############################################
AUTHENTIK_SECRET_KEY=generate-with-openssl-rand-base64-32
