.env
*.log
services-enabled/*.yml

# https://theapache64.github.io/git-do-not-ignore/

!media/
media/*
!media/*/
media/*/*
!media/*/.keep

!etc/
etc/*
!etc/*/
etc/*/*
!etc/*/.keep
!etc/*/*/
etc/*/*/*
!etc/*/*/.keep

!etc/grafana/provisioning/*
!etc/loki/loki-config.yml
!etc/prometheus/conf-originals/*
!etc/traefik/available/*
!etc/traefik/enabled/middleware.yml
