ignore: |
  etc/
  .github/
  overrides-enabled/
  services-enabled/

ignore-from-file: .gitignore

extends: default

yaml-files:
  - '*.yaml'
  - '*.yml'
  - '.yamllint'

rules:
  quoted-strings: disable
  line-length: disable
  document-start: disable
  comments: disable
  comments-indentation: disable
