ignore-from-file: [.gitignore, .yamlignore]

extends: default

yaml-files:
  - '*.yaml'
  - '*.yml'
  - '.yamllint'

rules:
  truthy: disable
  quoted-strings: disable
  line-length: disable
  document-start: disable
  comments: disable
  comments-indentation: disable
  new-line-at-end-of-file: disable