# CoreDNS Configuration
COREDNS_DOCKER_TAG=${COREDNS_DOCKER_TAG:-latest}
COREDNS_PORT=${COREDNS_PORT:-53}
COREDNS_CONFIG=${COREDNS_CONFIG:-Corefile}
COREDNS_UPSTREAM_SERVER_1=${COREDNS_UPSTREAM_SERVER_1:-1.1.1.1}
COREDNS_UPSTREAM_SERVER_2=${COREDNS_UPSTREAM_SERVER_2:-9.9.9.9}
COREDNS_UPSTREAM_SERVER_3=${COREDNS_UPSTREAM_SERVER_3:-8.8.8.8}
COREDNS_RELOAD=${COREDNS_RELOAD:-10s}
