EHLO localhost
MAIL FROM: noreply@${HOST_DOMAIN}
RCPT TO: ${SMTP_TEST_EMAIL}
DATA
From: SMTP Test <noreply@${HOST_DOMAIN}>
To:   <${SMTP_TEST_EMAIL}>
Date: date
Subject: Test from ${HOST_DOMAIN}

This is a test
.
