################################################
#
# Please edit this file and enter your info 
# into the <placeholders> below
#
################################################

CF_API_EMAIL=<your cloudflare login email>
CF_DNS_API_TOKEN=<cloudflare api token>
HOST_NAME=<your_server_name_without_domain>
HOST_DOMAIN=<your_domain.com>

# https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#Time_Zone_abbreviations
# choose a value from the TZ database name column on the wikipedia page above
TZ=US/Eastern

################################################
#
# The values below are optional, and are only need
# if you enable the associated services
#
################################################

###############################################
# Traefik settings 
###############################################
TRAEFIK_ACCESSLOG=true
TRAEFIK_LOG_LEVEL=DEBUG
#TRAEFIK_DASHBOARD_ENABLE=

###############################################
# AirPrint © Apple TM settings 
###############################################
#AIRPRINT_ADMIN_USER=cups
#AIRPRINT_ADMIN_PASS=<super_secure_password>

###############################################
# AdGuard settings 
###############################################
#ADGUARD_USER=admin
#ADGUARD_PASSWORD=                              # The password needs to be a hashed password

###############################################
# Authelia settings 
###############################################
#AUTH_DOMAIN=auth.${HOST_DOMAIN}
#AUTHELIA_JWT_SECRET=<super_secret_jwt_token>
#AUTHELIA_REDIR_DOMAIN=https://${AUTH_DOMAIN}
#AUTHELIA_AUTH_DOMAIN=${AUTH_DOMAIN}

###############################################
# Authentik settings 
###############################################
#AUTHENTIK_SECRET_KEY=<a very secret password> <openssl rand -hex 25>
#PG_PASS_AUTHENTIK=<Postgres Password> <openssl rand -hex 25>
#AUTHENTIK_AUTH_DOMAIN=${AUTH_DOMAIN}
#AUTHENTIK_BOOTSTRAP_PASSWORD=<openssl rand -hex 25>

###############################################
# Cloudflare ddns settings 
###############################################
#CLOUDFLARE_DDNS_HOSTNAME=${HOST_NAME}

###############################################
# CloudflareD settings 
###############################################
#CLOUDFLARED_TOKEN=<your token here>
#CLOUDFLARE_TUNNEL_NAME=${HOST_NAME}.tunnel
#CLOUDFLARE_TUNNEL_HOSTNAME=${HOST_NAME}.${HOST_DOMAIN}

###############################################
# CrowdSec settings 
###############################################
# Run this to generate a key and keep it as they won't show you it again
# docker exec crowdsec cscli bouncers add bouncer-traefik 

#TRAEFIK_BOUNCER_API_KEY=some-api-key

###############################################
# Drone settings 
###############################################
#DRONE_RPC_SECRET=<openssl rand -hex 16>        # openssl rand -hex 16
#DRONE_ADMIN_USER_CREATE=<admin username>       # Used to seed an admin user account at startup
#DRONE_GITEA_CLIENT_ID=<client id>              # Gitea oauth Client ID
#DRONE_GITEA_CLIENT_SECRET=<super secret>       # Gitea oauth Client Secret

###############################################
# Flame settings 
###############################################
#FLAME_PASSWORD=<super_secure_password>

###############################################
# FoundryVTT settings 
###############################################
#FOUNDRYVTT_PASSWORD=<super_secure_password>
#FOUNDRYVTT_USERNAME=<username>
#FOUNDRYVTT_ADMINKEY=<admin_key>

###############################################
# GHOST settings 
###############################################
#GHOST_URL=https://ghost.${HOST_DOMAIN}
#GHOST_DATABASE_HOST=mariadb
#GHOST_DATABASE_USER=ghost
#GHOST_DATABASE_PASSWORD=
#GHOST_DATABASE_NAME=ghost

###############################################
# Grafana settings 
###############################################
#GF_SECURITY_ADMIN_PASSWORD=admin
#GF_SECURITY_ADMIN_USER=<super_secure_password>

###############################################
# Healthchecks settings
###############################################

#HEALTHCHECKS_DB_PASS=
#HEALTHCHECKS_DB_USER=
#HEALTHCHECKS_SECRET_KEY=
#HEALTHCHECKS_SITE_NAME=
#

###############################################
# Influx settings 
###############################################
#INFLUXDB_INIT_ADMIN_USER=admin
#INFLUXDB_INIT_ADMIN_PASSWORD=<super_secure_password>
#INFLUXDB_INIT_ADMIN_TOKEN=<openssl rand -base64 48> #openssl rand -base64 48
#INFLUXDB_INIT_ORG=<your_org>
#INFLUXDB_INIT_BUCKET=<your_bucket>

###############################################
# Librespeed settings 
###############################################
#LIBRESPEED_PASSWORD=<super_secure_password>

###############################################
# MariaDB settings 
###############################################
#MARIADB_USER=<admin username>
#MARIADB_USER_PASSWORD=<admin password>
#MARIADB_ROOT_PASSWORD=<root password>

###############################################
# Mailrise settings 
###############################################
#MAILRISE_PORT= <port number>

###############################################
# MONOCKER settings 
###############################################
#MONOCKER_SERVER_LABEL=${HOST_NAME}.${HOST_DOMAIN}
# Specify the messaging platform and details, or leave blank if only wanting container logs (pick one only)
#MONOCKER_MESSAGE_PLATFORM=discord@webhook_url
#MONOCKER_MESSAGE_PLATFORM=telegram@your_bot_id@your_chat_id
#MONOCKER_MESSAGE_PLATFORM=pushbullet@your_api_key@your_device_id
#MONOCKER_MESSAGE_PLATFORM=pushover@your_user_key@your_app_api_token
# Optional - includes or excludes specified containers - default behaviour is false
#MONOCKER_LABEL_ENABLE=false
# Optional - only show when container state changes to being offline (paused, exited, running (unhealthy), or dead) - default is false
#MONOCKER_ONLY_OFFLINE_STATES=false
# Optional - regardless of any other settings, you can ignore or include 'exited'
#MONOCKER_EXCLUDE_EXITED=false

###############################################
# MSSQL settings 
###############################################
#MSSQL_SA_PASSWORD=<super_secure_password>

###############################################
# Netboot-XYZ settings 
###############################################
#NETBOOTXYZ_MEDIA_NFS_SERVER=${NFS_SERVER}
#NETBOOTXYZ_MEDIA_NFS_SERVER_PATH=${NFS_MEDIA_PATH}

###############################################
# Netbox settings 
###############################################
#NETBOX_EMAIL=
#PG_PASS_NETBOX=<openssl rand -hex 25>
#NETBOX_SUPERUSER_PASS=<super_secure_password>
#NETBOX_SUPERUSER_EMAIL=$(NETBOX_EMAIL)

###############################################
# NFS/SAMBA Related settings 
#
# if you are using  nfs volumes - example command: make enable-volume plex-nfs
###############################################
NFS_SERVER=nfs.${HOST_DOMAIN}
NFS_NEXTCLOUD_PATH=/example/nfs/server/path/for/nextcloud
NFS_MEDIA_PATH=/example/nfs/server/path
NFS_SYNC_PATH=${NFS_MEDIA_PATH}/sync
NFS_SHOWS_PATH=${NFS_MEDIA_PATH}/shows
# used for extra directories for NFS storage like anime, homemovies, etc
NFS_EXTRA_PATH=${NFS_MEDIA_PATH}/
NFS_MOVIES_PATH=${NFS_MEDIA_PATH}/movies
NFS_MUSIC_PATH=${NFS_MEDIA_PATH}/music
NFS_DOWNLOADS_PATH=${NFS_MEDIA_PATH}/downloads
# used for NFS share backups
NFS_BACKUP_PATH=${NFS_MEDIA_PATH}/backups
# used for temporary NFS share mounts for backups
NFS_BACKUP_TMP_DIR=/mnt/temp
# used for Youtube downloads
NFS_YT_PATH=${NFS_MEDIA_PATH}/ytd
# used for NFS photoprism storage
NFS_PHOTOPRISM_PATH=${NFS_MEDIA_PATH}/photoprism

#SAMBA_PASSWORD=<super_secure_password>
#SAMBA_SHARE1_DIR=./media
#SAMBA_SHARE1_NAME=media

###############################################
# Immich Variables
###############################################
#IMMICH_DOCKER_TAG=release
#IMMICH_DB_HOSTNAME=immich_database
#IMMICH_DB_USERNAME=postgres
#IMMICH_DB_PASSWORD=odysseus
#IMMICH_DB_DATABASE_NAME=immich
#IMMICH_POSTGRES_DATA_DIR=/var/lib/postgresql/data
# Redis
#IMMICH_REDIS_HOSTNAME=immich_redis
# Upload File Config
#IMMICH_UPLOAD_LOCATION=./upload
# MAPBOX
## ENABLE_MAPBOX is either true of false -> if true, you have to provide MAPBOX_KEY
#ENABLE_MAPBOX=false
# WEB
#MAPBOX_KEY=
#VITE_SERVER_ENDPOINT=http://localhost:2283/api

#IMMICH_TYPESENSE_ENABLED=true
#IMMICH_TYPESENSE_API_KEY=supersecretkey
#
#IMMICH_ROOT_NFS_SERVER=
#IMMICH_UPLOAD_NFS_SERVER_PATH=
#IMMICH_DB_NFS_SERVER_PATH=

###############################################
# Librephotos settings
###############################################

#LIBREPHOTOS_SCAN_DIRECTORY=
#LIBREPHOTOS_DATA_DIRECTORY=
#LIBREPHOTOS_ADMIN_EMAIL=
#LIBREPHOTOS_USERNAME=
#LIBREPHOTOS_USERPASS=
#LIBREPHOTOS_DBNAME=
#LIBREPHOTOS_DBUSER=
#LIBREPHOTOS_DBPASS=
#LIBREPHOTOS_DBHOST=
#LIBREPHOTOS_MAPAPIKEY=
#LIBREPHOTOS_SHHHHKEY=
#
# Gunni workers = Number of workers, which take care of the request to the api. This setting can dramatically affect the ram usage.
# A positive integer generally in the 2-4 x $(NUM_CORES) range.
# You’ll want to vary this a bit to find the best for your particular workload.
# Each worker needs 800MB of RAM. Change at your own will. Default is 2.
#
#LIBREPHOTOS_GUNNIWORKERS=
#LIBREPHOTOS_SKIPPATTERNS=
#LIBREPHOTOS_ALLOWUPLOAD=
# Probably want to put your custom domain in the below.
#LIBREPHOTOS_CSRFTRUSTEDORIGINS=
#LIBREPHOTOS_HEAVYWEIGHT_PROCESS=

###############################################
# Paperless-ngx settings 
###############################################
#PAPERLESS_DB_ENGINE=mariadb
#PAPERLESS_DB_HOST=db-host
#PAPERLESS_DB_PORT=3306    
#PAPERLESS_DB_NAME=paperless
#PAPERLESS_DB_USER=paperless
#PAPERLESS_DB_PASS=paperless
#PAPERLESS_DB_ROOTPASS=paperless
#PAPERLESS_ADMINUSER=admin
#PAPERLESS_ADMINMAIL=admin@youremail.com
#PAPERLESS_ADMINPASSWORD=admin

###############################################
# Photoprism settings 
###############################################
#PHOTOPRISM_MEDIA_PHOTOS=
#PHOTOPRISM_MEDIA_VIDEOS=
#PHOTOPRISM_ADMIN_PASSWORD=<super_secure_password>

###############################################
# Pihole settings 
###############################################
#PIHOLE_WEBPASSWORD=<super_secure_password>

###############################################
# Plex settings 
###############################################
# https://www.plex.tv/claim/
#PLEX_CLAIM=<plex_claim_key>
# uncomment this if your media directory is somewhere else on the host
# and your are NOT using NFS
#PLEX_MEDIA_VOLUME=./media
#PLEX_ALLOWED_NETWORKS=192.168.0.0/16

###############################################
# If you are using the EE version of portainer, 
# set PORTAINER_VERSION=ee and put the key here
###############################################
#PORTAINER_VERSION=ee
#PORTAINER_LICENSE_KEY=

###############################################
# Postfix smtp mail settings 
###############################################
#SMTP_SERVER=smtp-relay.sendinblue.com
#SMTP_USERNAME=
#SMTP_PASSWORD=
#SERVER_HOSTNAME=postfix.${HOST_DOMAIN}

###############################################
# PTERODACTYL_PANEL settings 
###############################################
#PTETRODACTYL_PANEL_DB_PASSWORD=<super_secure_password>

###############################################
# Postman settings 
###############################################
#POSTMAN_PASSWORD=<super_secure_password>

###############################################
# Radarr Postgresql settings 
###############################################
#RADARR_PG_PASS=<a very secret password>        # openssl rand -hex 16
RADARR_PG_USER=radarr                           # whatever you want

###############################################
# Semaphore settings 
###############################################
#SEMAPHORE_DB_USER=semaphore
#SEMAPHORE_DB_PASS=semaphore
#SEMAPHORE_DB_HOST=mysql # for postgres, change to: semaphore-postgres
#SEMAPHORE_DB_PORT=3306 # change to 5432 for postgres
#SEMAPHORE_DB_DIALECT=mysql
#SEMAPHORE_DB=semaphore
#SEMAPHORE_PLAYBOOK_PATH=/tmp/semaphore/
#SEMAPHORE_ADMIN_PASSWORD=changeme
#SEMAPHORE_ADMIN_NAME=admin
#SEMAPHORE_ADMIN_EMAIL=admin@localhost
#SEMAPHORE_ADMIN=admin
#SEMAPHORE_ACCESS_KEY_ENCRYPTION=gs72mPntFATGJs9qK0pQ0rKtfidlexiMjYCH9gWKhTU=
#SEMAPHORE_LDAP_ACTIVATED='no' # set to yes if you wish to use ldap
#SEMAPHORE_LDAP_HOST=dc01.local.example.com
#SEMAPHORE_LDAP_PORT='636'
#SEMAPHORE_LDAP_NEEDTLS='yes'
#SEMAPHORE_LDAP_DN_BIND='uid=bind_user,cn=users,cn=accounts,dc=local,dc=shiftsystems,dc=net'
#SEMAPHORE_LDAP_PASSWORD='ldap_bind_account_password'
#SEMAPHORE_LDAP_DN_SEARCH='dc=local,dc=example,dc=com'
#SEMAPHORE_LDAP_SEARCH_FILTER="(\u0026(uid=%s)(memberOf=cn=ipausers,cn=groups,cn=accounts,dc=local,dc=example,dc=com))"

###############################################
# SFTPGo settings 
###############################################
#SFTP_SERVER_PORT

###############################################
# Transmission-openvpn settings 
###############################################
#TRANSMISSION_WEBUI=combustion
#TRANSMISSION_VPN_PROVIDER=PIA
#TRANSMISSION_VPN_CONFIG=france
#TRANSMISSION_VPN_USERNAME=username
#TRANSMISSION_VPN_PASSWORD=<super_secure_password>
#TRANSMISSION_VPN_LOCAL_NETWORK=192.168.0.0/16
# for NORDVPN, see: https://haugene.github.io/docker-transmission-openvpn/provider-specific/#nordvpn
# apply override transmission-vpn-nord to use
#TRANSMISSION_NORDVPN_COUNTRY=US
#TRANSMISSION_NORDVPN_CATEGORY=legacy_p2p
#TRANSMISSION_NORDVPN_PROTOCOL=tcp

###############################################
# Valheim settings 
#
# Do not use upper case letters in the world name, the server will crash
###############################################
#VALHEIM_SERVER_NAME=
#VALHEIM_WORLD_NAME=
#VALHEIM_SERVER_PASS= 
#VALHEIM_NETWORK=

###############################################
# Watchtower settings 
###############################################
#WATCHTOWER_NOTIFICATIONS=shoutrrr
#WATCHTOWER_NOTIFICATION_URL=discord://token@webhookid

###############################################
# Woodpecker settings 
###############################################
#WOODPECKER_AGENT_SECRET=<openssl rand -hex 32> # openssl rand -hex 6
#WOODPECKER_ADMIN=<admin>                       # Used to seed an admin user account at startup
#WOODPECKER_GITEA_CLIENT=<client id>            # Gitea oauth Client ID
#WOODPECKER_GITEA_SECRET=<super secret>         # Gitea oauth Client Secret

###############################################
# WordPress settings 
###############################################
#WORDPRESS_DATABASE_HOST=mariadb
#WORDPRESS_DATABASE_USER=wordpress
#WORDPRESS_DATABASE_PASSWORD=<super_secure_password>
#WORDPRESS_DATABASE_NAME=wordpress

###############################################
# WG-easy settings 
###############################################
#WG_EASY_HOST=
#WG_EASY_ALLOWED_IPS=



################################################
#
# Uncomment the lines below if you want traefik 
# to proxy to these external services
#
################################################
# REQUIRES manual DNS entry
# not controlled or managed by joyride
################################################
# IDRAC_ADDRESS=<ip_or_fqdn>                # idrac.your_domain.com
# IDRAC_HOST_NAME=<idrac_hostname>          # idrac hostname, normally idrac
# OME_ADDRESS=<ip_or_fqdn>                  # ome.your_domain.com
# OME_HOST_NAME=<ome_hostname>              # ome hostname, normally ome
# OPNSENSE_ADDRESS=<ip_or_fqdn>             # opnsense.your_domain.com
# OPENSENSE_HOST_NAME=<opnsense_hostname>   # opnsense hostname, normally opnsense
# PIHOLE_ADDRESS=<ip_or_fqdn>               # pihole.your_domain.com
# PIHOLE_HOST_NAME=<pihole_hostname>        # pihole hostname, normally pihole
# PFSENSE_ADDRESS=<ip_or_fqdn>              # pfsense.your_domain.com
# PFSENSE_HOST_NAME=<pfsense_hostname>      # pfsense hostname, normally pfsense
# PROXMOX_ADDRESS=<ip_or_fqdn>              # proxmox.your_domain.com
# PROXMOX_HOST_NAME=<pve_hostname>          # proxmox hostname, normally pve
# RANCHER_HOST_NAME=<rancher_hostname>      # rancher.your_domain.com
# RANCHER_ADDRESS=<ip_or_fqdn>              # rancher hostname, normally rancher
# SYNOLOGY_HOST_NAME=<synology_hostname>    # synology.your_domain.com
# SYNOLOGY_ADDRESS=<ip_or_fqdn>             # synology hostname, normally synology
# TRUENAS_HOST_NAME=<truenas_hostname>      # truenas.your_domain.com
# TRUENAS_ADDRESS=<ip_or_fqdn>              # truenas hostname, normally truenas
# HOMEASSISTANT_HOST_NAME=<ha_hostname>     # homeassistant.your_domain.com
# HOMEASSISTANT_ADDRESS=<ip_or_fqdn>        # homeassistant hostname, normally homeassistant
# HOMEASSISTANT_PORT=8123                   # homeassistant port, normally 8123

# RANCHER_ADDRESS=<ip_or_fqdn>              # rancher.your_domain.com
#

################################################
# VAULTWARDEN SETTINGS
################################################
# VAULTWARDEN_SIGNUPS_ENABLED=false
# VAULT_ADMIN_SECRET=<openssl rand -base64 48> # openssl rand -base64 48

# MINECRAFT_DYNMAP_HOST_NAME=<minecraft_dynamp_hostname>  
# MINECRAFT_DYNMAP_ADDRESS=<ip_or_fqdn>
