cloudflare:
  api_email: "<your cloudflare login email>"
  dns_api_token: "<cloudflare api token>"

host:
  name: "<your_server_name_without_domain>"
  domain: "<your_domain.com>"

timezone: "US/Eastern"

traefik:
  dns_challenge_api_email: "${CF_API_EMAIL}"
  access_log: true
  log_level: "DEBUG"
  dashboard_enable: null

backup:
  location: "./backups"
  exclusions: "--exclude=etc/plex/Library"
  inclusions: ""

# azure_dns:
#   dns_challenge_provider: "azure"
#   client_id: null
#   client_secret: null
#   subscription_id: null
#   tenant_id: null
#   resource_group: null
# 
# airprint:
#   admin_user: "cups"
#   admin_pass: "<super_secure_password>"
# 
# adguard:
#   user: "admin"
#   password: ""
# 
# authelia:
#   auth_domain: "auth.${HOST_DOMAIN}"
#   jwt_secret: "<super_secret_jwt_token>"
#   redir_domain: "https://${AUTH_DOMAIN}"
#   auth_domain_var: "${AUTH_DOMAIN}"
# 
# authentik:
#   secret_key: "<openssl rand -hex 25>"
#   postgres_password: "<openssl rand -hex 25>"
#   auth_domain: "${AUTH_DOMAIN}"
#   bootstrap_password: "<openssl rand -hex 25>"
# 
# cloudflare_ddns:
#   hostname: "${HOST_NAME}"
# 
# cloudflared:
#   token: "<your token here>"
#   tunnel_name: "${HOST_NAME}.tunnel"
#   tunnel_hostname: "${HOST_NAME}.${HOST_DOMAIN}"
# 
# convertx:
#   jwt_secret: null
# 
# cloudbeaver:
#   server_name: "Cloudbeaver Playground"
#   admin_name: null
#   admin_password: null
# 
# crowdsec:
#   traefik_bouncer_api_key: "some-api-key"
# 
# komodo:
#   compose_image_tag: "latest"
#   compose_logging_driver: "local"
#   db_username: "onramp"
#   db_password: "onrampistheshizzle"
#   passkey: "n3z69NhcoWuuQbLuQ5NGc8Mp"
#   host: "https://komodo.${HOST_DOMAIN}"
#   title: "Komodo"
#   disable_confirm_dialog: false
#   oidc_enabled: false
#   local_auth: true
#   disable_user_registration: false
#   enable_new_users: true
#   periphery_root_directory: "/app/onramp/etc/komodo/periphery"
# 
# vikunja:
#   container_name: "vikunja"
#   api_container_name: "vikunja-api"
#   database_container_name: "vikunja-db"
#   database_host: "vikunja-db"
#   database_type: "mysql"
#   mysql_root_password: "supersecret"
#   database_user: "vikunja"
#   database_password: "secret"
#   database: "vikunja"
#   jwt_secret: "random-secret"
#   frontend_url: "https://${VIKUNJA_CONTAINER_NAME:-vikunja}.${HOST_DOMAIN}/"
#   api_url: "https://${VIKUNJA_API_CONTAINER_NAME:-vikunja-api}:3456/api/v1"
# 
# nfs:
#   server: "nfs.${HOST_DOMAIN}"
#   nextcloud_path: "/example/nfs/server/path/for/nextcloud"
#   media_path: "/example/nfs/server/path"
#   sync_path: "${NFS_MEDIA_PATH}/sync"
#   shows_path: "${NFS_MEDIA_PATH}/shows"
#   extra_path: "${NFS_MEDIA_PATH}/"
#   books_path: "${NFS_MEDIA_PATH}/books"
#   comics_path: "${NFS_MEDIA_PATH}/comics"
#   movies_path: "${NFS_MEDIA_PATH}/movies"
#   music_path: "${NFS_MEDIA_PATH}/music"
#   komga_path: "${NFS_MEDIA_PATH}/comics"
#   downloads_path: "${NFS_MEDIA_PATH}/downloads"
#   backup_path: "${NFS_MEDIA_PATH}/backups"
#   backup_tmp_dir: "/mnt/temp"
#   yt_path: "${NFS_MEDIA_PATH}/ytd"
#   photoprism_path: "${NFS_MEDIA_PATH}/photoprism"
