codellama:7b-python
codellama:latest
dolphin-mistral:latest
dolphin-mixtral:latest
dolphincoder:latest
llama2:13b-chat
llama2:chat
llama2:latest
mistral:latest
mixtral:latest
nomic-embed-text:latest
openhermes:latest
sqlcoder:latest
stable-code:latest
tinydolphin:latest