---
# This file should contain all of your sensitive API keys and passwords you're using to configure onramp.

CF_API_EMAIL: "<your cloudflare login email>"
CF_DNS_API_TOKEN: "<cloudflare api token>"
