[
  {
    "Targets": [
      "mail.example.com:9182"
    ],
    "Labels": {
      "type": "exchange",
      "alert": "true"
    }
  },
  {
    "Targets": [
      "dc-1.example.com:9182",
      "dc-2.example.com:9182"
    ],
    "Labels": {
      "type": "domain_controller",
      "alert": "true"
    }
  }
]