################################################
#
# OnRamp NFS Configuration
#
# Settings for NFS-mounted media directories
# Edit this file with: make edit-env-nfs
#
################################################

# NFS server hostname or IP (required for NFS mounts)
NFS_SERVER=

# NFS share paths (local mount points)
NFS_MEDIA_SHARE=/mnt/media
NFS_DOWNLOADS_SHARE=/mnt/downloads

# NFS mount options
NFS_MOUNT_OPTIONS=soft,rw,nfsvers=4

# NFS backup location for OnRamp config backups
# Used by: make create-nfs-backup, make restore-nfs-backup
NFS_BACKUP_PATH=/mnt/backups

# NFS backup location for Nextcloud
NFS_NEXTCLOUD_PATH=/example/nfs/server/path/for/nextcloud
